*{
    margin: 0;
    box-sizing: border-box;
}

.sky{
    height: 100vh;
    background-image: url('./media/s.png');
    width: 100%;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.grass{
    height: 600px;
    background-image: url('./media/gh.png');
    display: block;
    width: 300%;
    overflow-y: hidden;
    position: absolute;
    bottom: 0;
    left: -2400px;
    right: 0;
    background-repeat: repeat-x;
    animation: grass 15s linear infinite;
}

@keyframes grass {
    100%{
        transform: translateX(2400px);
    }
}

.mountain{
    height: 600px;
    background-image: url('./media/m.png');
    display: block;
    width: 300%;
    overflow-y: hidden;
    position: absolute;
    bottom: 0;
    left: -1400px;
    right: 0;
    background-repeat: repeat-x;
    animation: mountain 30s linear infinite;
}


@keyframes mountain {
    100%{
        transform: translateX(1400px);
    }
}

.manrun{
    height: 300px;
    width: 300px;
    z-index: 3;
    position: absolute;
    bottom: 10%;
    right: 30%;
}

h1{
    font-size: 100px;
    text-align: center;
    margin-top: 50px;
    color: blue;
    font-family: sans-serif;
}